/* Start Variables */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #dfb400;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #464646;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #464646;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #dfb400;
    --danger: #dc3545;
    --light: #f8f8f7;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 768px;
    --breakpoint-md: 1025px;
    --breakpoint-lg: 1366px;
    --breakpoint-xl: 1600px;
    --breakpoint-xxl: 1921px;
    --font-family-sans-serif: "Roboto", "Helvetica Neue", Arial;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", "Helvetica Neue", Arial;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}


/* End Global Rules */
/* Start Media Query */

/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .container {
        width: 550px;
    }
}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* // X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}
/* End Media Query */
/* Start Components */
.hexagon {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;

    width: 104px;
    height: 60px;
    background-color: #6C6;

    width: 0;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
/* End Components */
/* Start Header */
header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #181818;
    width: 100%;
    padding: 10px 45px;
    z-index: 100;
}
header .head-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 62px;
}
header .logo {
    margin-right: 26px;
    display: flex;
    position: relative;
    top: 0;
}
header .logo img{
    width: 40px;
}
header .nav {
    display: flex;
    font-size: 10px;
    font-weight: 300;
    justify-content: space-between;
    align-items: center;
    height: 42px;
}
header .nav .links {
    display: flex;
}
header .nav .links > li:first-child:hover {
    width: 100%;
}
header .nav .links li {
    margin-right: 26px;
    position: relative;
    padding: 5px 0;
}
header .nav .links > li:first-child:hover .lvl2{ 
    display: block;
    height: 250px;
    overflow: visible;
    left: -110px;
    padding-left: 110px;
    width: calc(100rem - 110px);
}
header .nav .links > li:nth-child(3):hover .lvl2{ 
    display: block;
    height: 250px;
    overflow: visible;
    left: -240px;
    padding-left: 240px;
    width: calc(100rem - 200px);
}
header .nav .links > li:nth-child(4):hover .lvl2{ 
    display: block;
    height: 340px;
    overflow: visible;
    left: -320px;
    padding-left: 320px;
    width: calc(100rem - 150px);
}
header .nav .links > li::before {
    content:'';
    position: absolute;
    width: 0;
    height: 0.6px;
    background-color: white;
    top: 140%;
    left: 0;
    transition: 0.3s;
}
header .nav .links > li:hover::before {
    width: 100%;
}
header .nav .links .lvl2 {
    margin-top: 5px;
    top: 100%;
    position: absolute;
    background-color: #181818;
    transition: 0.3s;
    height: 0;
    overflow: hidden;
    z-index: -1;

}
header .nav .links .lvl2 li a{
    display: block;
    padding: 10px 0;
    color: #777;
    transition: 0.3s;
}
header .nav .links .lvl2 li a:hover {
    color: #fff;
}
header .nav .links li a {
    color: white;
}
header .nav i {
    margin-right: 15px;
    font-size: 13px;
    cursor: pointer;
    color: #d1d1d1;
    transition: 0.3s;
}
header .nav .bars {
    position: relative;
    width: 10px;
    top: 2px;
    display: flex;
    flex-direction: column;
}
header .nav .bars span {
    margin-bottom: 3.5px;
    width: 15px;
    display: block;
    height: .5px;
    background-color: #d1d1d1;
    transition: 0.4s;
}
header .nav .bars:hover span:first-of-type {
    transform: rotate(40deg) translateY(5px);
}

header .nav .bars:hover span:nth-child(2) {
    opacity: 0;
}

header .nav .bars:hover span:last-of-type {
    transform: rotate(-40deg) translateY(-5px);
}
header .nav .bars:hover span {
    background-color: white;
}
/* Media */
@media (max-width:767px) {
    header .nav .links,
    .fa-bars {
        display: none;
    }
    header .nav .bars {
        display: flex;
    }
    header .nav .bars:hover span:first-of-type {
        transform: rotate(40deg) translateY(5px);
    }
    header .nav .bars:hover span:nth-child(2) {
        opacity: 0;
    }
    header .nav .bars:hover span:last-of-type {
        transform: rotate(-40deg) translateY(-5px);
    }
    header .nav .bars:hover + ul {
        display: flex;
        flex-direction: column;
    }
}
/* End Header */
/* Start Landing */
.landing {
    position: relative;
    background-image: url(../Images/hero_desk.webp);
    height: calc(100vh - 62px);
    background-size: cover;
}
.landing .text {
    position: absolute;
    top: 50%;
    left: 140px;
    transform: translateY(-50%);
    color: white;
    text-transform: uppercase;
}
.landing .text h3 {
    font-size: 20px;
    font-weight: normal;
}
.landing .text h1 {
    margin-top: 10px;
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
}
@media (max-width: 767px) {
    .landing .text {
        left: 10%;
        top: 30%;
    }
    .landing .text h1 {
        font-size: 50px
    }
    .landing .text h3 {
        font-size: 15px;
    }
}
/* End Landing */
/* Start Models */
.models {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
.models .models-change {
}
.models .image1 {
    background-image: url(../Images/family_chooser_sterrato.webp);
    width: 20%;
    height: 100vh;
    background-position: center center;
    transform: skew(10deg);
    background-size: cover;
    transform-origin: bottom right;
}
.models .image2 {
    background-image: url(../Images/urus_s_family_chooser.webp);
    width: 30%;
    height: 100vh;
    background-position: center center;
    transform: skew(10deg);
    transform-origin: bottom left;
    background-color: black;
    background-size: cover;
}
.models .image1::before,
.models .image2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
}
.models .image3 {
    background-image: url(../Images/revuelto.webp);
    width: 60%;
    position: absolute;
    left: 50%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    transform: skew(10deg);
    transform-origin: bottom right;
    flex-grow: 1;
    background-color: black;
}
.models img {
    width: 100%;
}
.models .models-content {
    display: flex;
}
.models .text {
    position: absolute;
    top: 25%;
    left: 15%;
    color: #333;
}
.models .text h3 {
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px; 
    color: White;
    margin-bottom: 20px;
}
.models .text span {
    font-size: 40px;
    transition: 0.3s;
}
.models .text span:hover {
    color: white;
    cursor: pointer;
}
.models .text span:first-of-type:hover::before
,.models .text span:last-child:hover::before {
    color: black;
}
.models .text span:first-of-type::before{
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-size: small;
    position: absolute;
    top: 68%;
    left: 10%;
    font-weight: 900;
    color: #777;
    transition: 0.3s;
}
.models .text span:last-child::before{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: small;
    position: absolute;
    top: 68%;
    left: 59%;
    font-weight: 900;
    color: #777;
}
.models .car-name {
    position: absolute;
    top: 60%;
    color: white;
    left: 15%;
}
.models .car-name h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0 auto 15px;
}
.models .car-name p {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}
.models .car-name span {
    display: flex;
}
.models .car-name span p{
    font-weight: 300;
    font-size: 13px;
}
.models .car-name span span {
    margin-right: 10px;
    font-size: 35px;
    margin-top: -6px;
    color: #777;
    transition: 0.3s;
}
.models .car-name span span::before {
    content: "\2b";
    font-family: "Font Awesome 5 Free";
    font-size: small;
    position: relative;
    top: 12px;
    left: 20px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.models .car-name span:hover {
    color: white;
    cursor: pointer;
}

.models .car-name span:hover::before {
    color: black;
}

@media (max-width:767px){
    .models ,.models .image3
    {
        height: 60vh;
    }
    .models .car-name,
    .models .text {
        left: 5%;
    }
    .models .text {
        top: 10%;
    }
    .models .text span {
        display: none;
    }
    .models .text h3 {
        font-size: 30px;
        color: black;
    }
    .models .image1,
    .models .image2 {
        display: none;
    }
    .models .image3 {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        left: 0;
        transform: skew(0);
    }
    .models .car-name {
        color: black;
        top: 60%;
    }
    .models .car-name h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
        margin: 3px auto 15px;
    }

}

/* End Models */
/* Start Content */
.content {
    background-image: url(../Images/revuelto_home.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 60% center;
    width: 100%;
    height: 60vh;
    position: relative;
}
.content .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}
.content .text p{
    font-size: 25px;
    font-weight: 500;
}
.content .text h2 {
    font-size: 50px;
    margin-bottom: 10px;
}
.content .text span {
    display: block;
    width: fit-content;
   font-size: 50px;
   color: #777;
   cursor: pointer;
   transition: 0.3s;
   margin-bottom: 10px;
}
.content .text span:hover {
    color: #000000;
}
.content .text span:hover::before {
    color: #fff;
}
.content .text span::before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: small;
    position: absolute;
    top: 68.5%;
    left: 16px;
    font-weight: 900;
    color: black;
    transition: 0.3s;
}
.content .text ul {
    display: flex;
}
.content .text ul li {
    padding: 0 15px 15px;
    font-weight: 300;
    text-transform: capitalize;
    position: relative;
    cursor: pointer;
}
.content .text ul li::before {
    content: "";
    position: absolute;
    border-bottom: 0.5px solid #777;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.content .text ul .active::before,
.content .text ul li:hover::before {
    content: "";
    position: absolute;
    border-bottom-color: black;
    width: 100%;
    height: 100%;
}

/* End Content */
/* Start Locator */
.loctar {
    background-image: url(../Images/533702.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% center;
    width: 100%;
    height: 50vh;
    position: relative;
}

.loctar .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    color: white;
}

.loctar .text p {
    font-size: 25px;
    font-weight: 500;
}

.loctar .text h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.loctar .text span {
    display: block;
    width: fit-content;
    font-size: 50px;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
}

.loctar .text span:hover {
    color: #000000;
}

.loctar .text span:hover::before {
    color: #fff;
}

.loctar .text span::before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-size: small;
    position: absolute;
    top: 79%;
    left: 16px;
    font-weight: 900;
    color: #777;
    transition: 0.5s;
}
.loctar .text span:hover {
    color: #fff;
}

.loctar .text span:hover::before {
    color: #000;
}
/* End Locator */
/* Start News */
.news {
    margin-top: 50px;
    position: relative;
    padding-bottom: 10px;
}
.news::before {
    content:'';
    z-index: -1;
    width: 100%;
    height: 60vh;
    position: absolute;
    top: -50px;
    left: 0;
    background-color: #F8F8F7;
}
.news .container {
    width: 80%;
    margin: auto;
}
.news .container .main-box {
    position: relative;
}
.news .text p{
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.news .text h1{
    font-size: 4em;
    margin: 0 0 20px;
    font-weight: 800;
}
.news .image img{
    width: 100%;
}
.news p {
    margin: 20px 0;
    font-size: 15px;
    font-weight: 400;
}
.news h4 {
    font-size: 25px;
}
.news span {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 20px;
}
.news .main-box button {
    position: absolute;
    right: 0;
    top: 85%;
    border: 1px solid #cbcbca;
    background-color: transparent;
    transition: 0.3s;
}
.news .main-box button a {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 8px 25px;
    color: #202020;
    text-transform: uppercase;
    font-weight: 300;
    transition: 0.3s;
}
.news .main-box button:hover {
    background-color: #000;
}
.news .main-box button:hover a {
    color: white;
}
.news .sec-box {
    display: flex;
    height: 260px;
    margin-top: 30px;
}
.news .sec-box .image {
    flex-basis: 600px;
}
.news .sec-box .image img {
    width: 100%;
}
.news .sec-box .text {
    padding: 0 0 0 30px;
    flex: 1 ;
}
.news .sec-box .text .date {
    color: #202020;
    font-weight: 300;
    font-size: 15px;
}
.news .sec-box .text .head {
    background-color: #F8F8F7;
    text-transform: uppercase;
    margin: 15px 0 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 4px 8px;
    cursor: pointer;
    transition: 0.3s;
}
.news .sec-box .text .head:hover {
    background-color: black;
    color: white;
}
.news .sec-box .text .tittle {
    font-size: 22px;
        margin-bottom: 20px;
}
.news .sec-box button {
    position: absolute;
    border: 1px solid #cbcbca;
    background-color: transparent;
    transition: 0.3s;
}

.news .sec-box button a {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 8px 25px;
    color: #202020;
    text-transform: uppercase;
    font-weight: 300;
    transition: 0.3s;
}
.news .sec-box button:hover {
    background-color: #000;
}

.news .sec-box button:hover a {
    color: white;
}
.news .see-all {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 40px 0 100px;
    border: 1px solid #cbcbca;
    background-color: transparent;
    transition: 0.3s;
}
.news .see-all a {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 8px 40px;
    color: #202020;
    text-transform: uppercase;
    font-weight: 300;
    transition: 0.3s;
}
.news .see-all:hover {
    background-color: #000;
}

.news .see-all:hover a {
    color: white;
}
@media (max-width :767px) {
    .news {
        padding-bottom: 10px;
    }
    .news::before {
        height: 75vh;
    }
    .news .text h1 {
        font-size: 2em;
    }
    .news .new-content ,
    .news .main-box ,
    .news .sec-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news .main-box,
    .news .sec-box {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .news .sec-box .text {
        padding: 0;
    }
    .news .sec-box button,
    .news .main-box button {
        display: none;
    }
    .news .see-all {
        position: relative;
        left: 0;
        transform: translateX(0);
    }
}

/* End News */
/* Start footer */
.footer {
    background-color: #181818;
    padding: 50px 20px 60px;
}
.footer .container {
    padding:0 40px;
}
.footer .links {
    display: flex;
    justify-content: space-between;
}
.footer .links ul {
    display: flex;
}
.footer .links ul li {
    position: relative;
    padding: 15px;
}
.footer .links ul li a{
    color: white;
    display: block;
    font-size: 14px;
    font-weight: 400;
}
.footer .links i{
    color: white;
    margin-right: 15px;
    transition: 1s;
}
.footer .links i:hover {
    transform: rotate(1turn) scale(1.5);
}
.footer .links ul li:hover::before {
    width: calc(100% - 30px);
}
.footer .links ul li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0.6px;
    background-color: white;
    top: 85%;
    left: 15px;
    transition: 0.3s;
}
.footer .text {
    position: relative;
    padding: 15px;
    color: white;
}
.footer .text h6 {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: normal;
}
.footer .text h6::before {
    content: "*";
    margin-right: 5px;
    position: relative;
    top: -2px;
    left: -5px;
}
.footer .text p {
    font-weight: 300;
    line-height: 1.6;
}
@media (max-width :767px) {
    .footer .links ul {
        flex-direction: column;
    }
    .footer .container {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer .icons {
        display: none;
    }
}
/* End footer */
